@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-inter: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #898989;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.text-hover {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: -2px;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: -0.05em;

  span {
    position: relative;
    display: inline-block;
    text-shadow: 0 1.2em 0 #d9ff00;
    transform: translateY(0);
    transition: transform 0.15s ease-in-out;
    transition-delay: calc(sibling-index() * 0.05s);
  }

  &:hover {
    span {
      transform: translateY(-1.2em);
      transition: transform 0.15s ease-in-out;
      transition-delay: calc(sibling-index() * 0.05s);
    }
  }
}

.text-hover-small {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  line-height: 1.2;

  span {
    position: relative;
    display: inline-block;
    text-shadow: 0 1.2em 0 #d9ff00;
    transform: translateY(0);
    transition: transform 0.15s ease-in-out;
    transition-delay: calc(sibling-index() * 0.05s);
  }

  &:hover {
    span {
      transform: translateY(-1.2em);
      transition: transform 0.15s ease-in-out;
      transition-delay: calc(sibling-index() * 0.05s);
    }
  }
}
